@page "/po-transfer/purchase-orders"

@using Microsoft.AspNetCore.WebUtilities
@using Prototype.Components.Layout.Navigation.Sidebar
@using Prototype.Pages.POTransfer.SeedData
@using Telerik.Blazor
@using Telerik.Blazor.Components
@using static Prototype.Pages.POTransfer.SeedData.PurchaseOrdersSeedData

@inherits PageWithSidebarBase

@inject IJSRuntime JS

<div class="wrap">
    <header class="header">
        <h3 class="title">Purchase Order Detail</h3>
    </header>

    <section class="card rop-detail">
        <div class="rop-detail-grid">
            <!-- Left column -->
            <div class="col col-left">
                <div class="field">
                    <label>PO#:</label>
                    <input readonly value="@Model.PoNumber" />
                </div>

                <div class="field">
                    <label>Vendor:</label>
                    <input readonly value="@Model.VendorName" />
                </div>

                <div class="field">
                    <label>Ship To Name:</label>
                    <input readonly value="@Model.ShipToName" />
                </div>

                <div class="field">
                    <label>Attention/Address:</label>
                    <input readonly value="@Model.Attention" />
                </div>

                <div class="field">
                    <label>Address 1:</label>
                    <input readonly value="@Model.Address1" />
                </div>

                <div class="field">
                    <label>Address 2:</label>
                    <input readonly value="@Model.Address2" />
                </div>

                <div class="field-row">
                    <div class="field-col sm">
                        <label>City</label>
                        <input id="city" readonly value="@Model.City" />
                    </div>
                    <div class="field-col sm">
                        <label>State</label>
                        <input id="state" readonly value="@Model.State" />
                    </div>
                    <div class="field-col sm">
                        <label>Zip</label>
                        <input id="zip" readonly value="@Model.Zip" />
                    </div>
                </div>

                <div class="field">
                    <label>Special Instructions:</label>
                    <textarea readonly>@Model.SpecialInstructions</textarea>
                </div>

                <div class="field">
                    <a class="link" href="javascript:void(0)" @onclick="ViewActivities">View Activities</a>
                </div>
            </div>

            <!-- Right column -->
            <div class="col col-right">
                <div class="field">
                    <label>PO Date:</label>
                    <input readonly value="@Model.PoDate.ToString("MM/dd/yyyy")" />
                </div>

                <div class="field">
                    <label>Sales Order #:</label>
                    <input readonly value="@Model.SalesOrderNumber" />
                </div>

                <div class="field">
                    <label>PO Status:</label>
                    <input readonly value="@Model.PoStatus" />
                </div>

                <div class="field">
                    <label>Default Ship Method:</label>
                    <input readonly value="@Model.DefaultShipMethod" />
                </div>

                <div class="field">
                    <label>Premium Ship Method:</label>
                    <input readonly value="@Model.PremiumShipMethod" />
                </div>

                <div class="field check">
                    <label>Rally Pricing:</label>
                    <input type="checkbox" checked="@Model.RallyPricing" disabled />
                </div>

                <div class="field">
                    <label>No Paperwork:</label>
                    <input readonly value="@BoolText(Model.NoPaperwork)" />
                </div>

                <div class="field">
                    <label>Lift Gate Req:</label>
                    <input readonly value="@BoolText(Model.LiftGateRequired)" />
                </div>

                <div class="field">
                    <label>Total Cost:</label>
                    <input readonly value="@Model.TotalCost.ToString("C")" />
                </div>

                <div class="field">
                    <label>Open Cost:</label>
                    <input readonly value="@Model.OpenCost.ToString("C")" />
                </div>

                <div class="field">
                    <label>Comments:</label>
                    <input readonly value="@Model.Comments" />
                </div>

                <div class="field">
                    <label>Release BKO's:</label>
                    <input readonly value="@BoolText(Model.ReleaseBackorders)" />
                </div>

                <div class="field">
                    <label>BKO Unfilled:</label>
                    <input readonly value="@BoolText(Model.BackorderUnfilled)" />
                </div>
            </div>
        </div>

        <!-- Lines Grid -->
        <div style="margin-top: 2rem;">
            <TelerikGrid Data="@Model.Lines"
                         SelectionMode="@GridSelectionMode.Multiple"
                         @bind-SelectedItems="@SelectedLinesCollection"
                         Pageable="true"
                         PageSize="20"
                         Sortable="true"
                         FilterMode="@GridFilterMode.FilterRow"
                         Resizable="true"
                         Reorderable="true"
                         Groupable="true"
                         ShowColumnMenu="true">
                <GridToolBarTemplate>
                    <GridCommandButton Command="ExcelExport" Icon="@SvgIcon.FileExcel">Export to Excel</GridCommandButton>
                    <GridSearchBox />
                    <span style="margin-left: auto; font-weight: bold;">
                        Total Lines: @Model.Lines.Count | Selected: @SelectedLineItems.Count
                    </span>
                </GridToolBarTemplate>
                <GridExport>
                    <GridExcelExport FileName="purchase-order-lines" AllPages="true" />
                    <GridCsvExport FileName="purchase-order-lines" AllPages="true" />
                </GridExport>
                <GridColumns>
                    <GridCheckboxColumn SelectAll="true" Width="60px" Locked="true" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Item)" Title="Line Item" Width="140px" Locked="true" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Description)" Title="Description" Width="300px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Comment)" Title="Comment" Width="200px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Ordered)" Title="Ord" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Ordered);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Received)" Title="Rcv" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Received);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Open)" Title="Open" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Open);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.DefCbx)" Title="DEF/CBX" Width="100px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Transit)" Title="Transit" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Transit);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.SalesOrderLine)" Title="SO Line" Width="100px" TextAlign="@ColumnTextAlign.Right" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.UnitCost)" Title="Unit Cost" Width="120px" TextAlign="@ColumnTextAlign.Right" DisplayFormat="{0:C}">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                @line.UnitCost.ToString("C")
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.TotalCost)" Title="Total Cost" Width="130px" TextAlign="@ColumnTextAlign.Right">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                @line.TotalCost.ToString("C")
                            }
                        </Template>
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.TotalCost);
                                <strong>@total.ToString("C")</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.RallyUnit)" Title="Rally Unit" Width="110px" TextAlign="@ColumnTextAlign.Right" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.RallyExt)" Title="Rally Ext" Width="110px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.RallyExt);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Status)" Title="Status" Width="120px">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                var statusClass = line.Status.ToLower() switch
                                {
                                    "open" => "badge badge-success",
                                    "closed" => "badge badge-secondary",
                                    "cancelled" => "badge badge-danger",
                                    _ => "badge badge-info"
                                };
                                <span class="@statusClass">@line.Status</span>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.CancelFlag)" Title="Cancel" Width="90px" TextAlign="@ColumnTextAlign.Right" />
                </GridColumns>
                <GridSettings>
                    <GridPagerSettings InputType="PagerInputType.Input"
                                       PageSizes="@(new List<int?> { 10, 20, 50, 100, null })" />
                </GridSettings>
            </TelerikGrid>
        </div>

        <!-- Footer actions -->
        <footer class="rop-footer" style="margin-top: 1rem;">
            <button class="btn" @onclick="PrintPo">Print</button>
            <button class="btn" @onclick="CreateNewPo">Create New</button>
            <button class="btn warn" @onclick="CancelSelectedLines" disabled="@(!SelectedLineItems.Any())">
                Cancel PO Line(s) @(SelectedLineItems.Any() ? $"({SelectedLineItems.Count})" : "")
            </button>
            <button class="btn danger" @onclick="CancelPo">Cancel PO</button>
        </footer>
    </section>
</div>

@code {
    // Enable franchise selector in sidebar
    protected override bool ShowFranchiseSelector => true;

    // ============================================================
    // Page contract & URL bindings
    // ============================================================
    protected override string BasePath => "/po-transfer/purchase-orders";

    // MultiKey name for grid selections
    protected override string MultiKeyName => "lines";

    // URL-bound (singletons)
    private string Status = "All";
    private string? SelectedPoNumber;
    private string? DealerId;

    // Grid selection tracking
    private readonly HashSet<string> SelectedLineItems = new(StringComparer.OrdinalIgnoreCase);
    private IEnumerable<PurchaseOrderLine> _selectedLinesCollection = new List<PurchaseOrderLine>();
    private IEnumerable<PurchaseOrderLine> SelectedLinesCollection
    {
        get => _selectedLinesCollection;
        set
        {
            _selectedLinesCollection = value;
            SyncSelectedLines();
        }
    }

    // Scalars -> URL map
    protected override IReadOnlyDictionary<string, string?> Scalars =>
       new Dictionary<string, string?>(StringComparer.OrdinalIgnoreCase)
       {
           ["dealer"] = DealerId,
           ["option"] = "Purchase Orders",
           ["status"] = Status,
           ["po"] = SelectedPoNumber
       };

    // Expose selected line items as MultiValues
    protected override IReadOnlyCollection<string> MultiValues => SelectedLineItems;

    // Parse URL -> state, then load model
    protected override void ReadFromUrl()
    {
        // Read parameters using UrlState
        DealerId = Url.Get("dealer");
        Status = Url.Get("status") ?? "All";
        var urlPo = Url.Get("po");

        // Initialize data if needed
        if (AllPos.Count == 0)
            AllPos.AddRange(PurchaseOrdersSeedData.GetPoSummaries());

        var filtered = FilteredPos;

        // Select PO based on URL parameter or default to first
        if (!string.IsNullOrWhiteSpace(urlPo) &&
            filtered.Any(x => x.Number.Equals(urlPo, StringComparison.OrdinalIgnoreCase)))
        {
            SelectedPoNumber = urlPo;
        }
        else
        {
            SelectedPoNumber = filtered.FirstOrDefault()?.Number;
        }

        LoadPoDetail(SelectedPoNumber);

        // Read selected lines from URL
        SelectedLineItems.Clear();
        var lineItems = Url.GetMulti(MultiKeyName);
        foreach (var item in lineItems)
        {
            SelectedLineItems.Add(item);
        }

        // Restore grid selection
        _selectedLinesCollection = Model.Lines.Where(l => SelectedLineItems.Contains(l.Item)).ToList();

        // Ensure URL is in sync - if we auto-selected a PO and it's not in URL, update it
        if (!string.IsNullOrWhiteSpace(SelectedPoNumber) && urlPo != SelectedPoNumber)
        {
            NavigateWithPageState(replace: true);
        }
    }

    // ============================================================
    // Sidebar facets
    // ============================================================
    protected override IEnumerable<Facet> Facets()
    {
        // Option facet (cross-page)
        yield return new Facet(
            Key: "option",
            Title: "Option",
            Options: () => new[]
            {
                new FacetOption("Items On Order",     "Items On Order",     Href: AppendPreserved("/po-transfer/items-on-order?status=All")),
                new FacetOption("Purchase Orders",    "Purchase Orders",    Href: AppendPreserved("/po-transfer/purchase-orders?status=All")),
                new FacetOption("Receipt of Product", "Receipt of Product", Href: AppendPreserved("/po-transfer/receipt-of-product?status=All"))
            }
        );

        yield return new Facet(
            Key: "status",
            Title: "Status",
            Options: () => new[]
            {
                new FacetOption("All","All",                                   Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("All")}")),
                new FacetOption("Pending","Pending",                           Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Pending")}")),
                new FacetOption("In Process","In Process",                     Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("In Process")}")),
                new FacetOption("Issued – UnAcknowledged","Issued – UnAcknowledged", Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Issued – UnAcknowledged")}")),
                new FacetOption("Open – Acknowledged","Open – Acknowledged",   Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Open – Acknowledged")}")),
                new FacetOption("Closed","Closed",                             Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Closed")}")),
                new FacetOption("Cancelled","Cancelled",                       Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Cancelled")}"))
            }
        );

        yield return new Facet(
            Key: "po",
            Title: "PO",
            Options: () => FilteredPos.Select(p =>
                new FacetOption(
                    Text: p.Display,
                    Value: p.Number,
                    Href: AppendPreserved($"{BasePath}?po={Uri.EscapeDataString(p.Number)}")
                ))
        );
    }

    protected override void OnSidebarClick(SidebarItem item)
    {
        if (!string.IsNullOrWhiteSpace(item.Url))
            Nav.NavigateTo(item.Url);
    }

    // ============================================================
    // Lifecycle
    // ============================================================
    protected override void OnInitialized()
    {
        AllPos.AddRange(PurchaseOrdersSeedData.GetPoSummaries());
        base.OnInitialized();
    }

    // ============================================================
    // Page state & computed lists
    // ============================================================
    private List<PoSummary> AllPos = new();

    private List<PoSummary> FilteredPos =>
        (string.Equals(Status, "All", StringComparison.OrdinalIgnoreCase)
            ? AllPos
            : AllPos.Where(p => string.Equals(p.Status, Status, StringComparison.OrdinalIgnoreCase)))
        .OrderByDescending(p => p.Date)
        .ToList();

    private PurchaseOrder Model { get; set; } = new();

    // ============================================================
    // Data loading
    // ============================================================
    private void LoadPoDetail(string? poNumber)
    {
        if (string.IsNullOrWhiteSpace(poNumber))
        {
            Model = new();
            return;
        }

        // Load PO detail from seed data
        Model = PurchaseOrdersSeedData.GetPoDetail(poNumber, Status);

        // Only clear selection if not restoring from URL
        if (!SelectedLineItems.Any())
        {
            _selectedLinesCollection = new List<PurchaseOrderLine>();
        }
    }

    // ============================================================
    // Selection sync
    // ============================================================
    private void SyncSelectedLines()
    {
        var newItems = _selectedLinesCollection.Select(l => l.Item).ToHashSet(StringComparer.OrdinalIgnoreCase);
        var changed = !SelectedLineItems.SetEquals(newItems);

        if (changed)
        {
            SelectedLineItems.Clear();
            foreach (var item in newItems)
            {
                SelectedLineItems.Add(item);
            }

            NavigateWithPageState();
        }
    }

    // ============================================================
    // Actions
    // ============================================================
    private Task PrintPo() => JS.InvokeVoidAsync("console.log", "Print PO").AsTask();
    private Task CreateNewPo() => JS.InvokeVoidAsync("console.log", "Create New PO").AsTask();

    private async Task CancelSelectedLines()
    {
        if (!SelectedLineItems.Any()) return;

        var items = string.Join(", ", SelectedLineItems);
        await JS.InvokeVoidAsync("console.log", $"Cancel Lines: {items}");

        // TODO: Call actual service to cancel lines
        // After successful cancellation, refresh the data
        // LoadPoDetail(SelectedPoNumber);
    }

    private Task CancelPo() => JS.InvokeVoidAsync("console.log", "Cancel PO").AsTask();
    private Task ViewActivities() => JS.InvokeVoidAsync("console.log", "View Activities").AsTask();

    // ============================================================
    // Helpers
    // ============================================================
    private static string BoolText(bool v) => v ? "Yes" : "No";
}

<style>
    .badge {
        display: inline-block;
        padding: 0.25em 0.6em;
        font-size: 0.875em;
        font-weight: 600;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
    }

    .badge-success {
        background-color: #28a745;
    }

    .badge-secondary {
        background-color: #6c757d;
    }

    .badge-danger {
        background-color: #dc3545;
    }

    .badge-info {
        background-color: #17a2b8;
    }

    .badge-warning {
        background-color: #ffc107;
        color: #212529;
    }

    .btn.warn {
        background-color: #ffc107;
        color: #212529;
    }

    .btn.danger {
        background-color: #dc3545;
        color: #fff;
    }

    .btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
</style>
