@page "/po-transfer/purchase-orders"

@using Microsoft.AspNetCore.WebUtilities
@using Prototype.Components.Layout.Navigation.Sidebar
@using Utils
@using Telerik.Blazor
@using Telerik.Blazor.Components

@inherits PageWithSidebarBase

@inject IJSRuntime JS

<div class="wrap">
    <header class="header">
        <h3 class="title">Purchase Order Detail</h3>
    </header>

    <section class="card rop-detail">
        <div class="rop-detail-grid">
            <!-- Left column -->
            <div class="col col-left">
                <div class="field">
                    <label>PO#:</label>
                    <input readonly value="@Model.PoNumber" />
                </div>

                <div class="field">
                    <label>Vendor:</label>
                    <input readonly value="@Model.VendorName" />
                </div>

                <div class="field">
                    <label>Ship To Name:</label>
                    <input readonly value="@Model.ShipToName" />
                </div>

                <div class="field">
                    <label>Attention/Address:</label>
                    <input readonly value="@Model.Attention" />
                </div>

                <div class="field">
                    <label>Address 1:</label>
                    <input readonly value="@Model.Address1" />
                </div>

                <div class="field">
                    <label>Address 2:</label>
                    <input readonly value="@Model.Address2" />
                </div>

                <div class="field-row">
                    <div class="field-col sm">
                        <label>City</label>
                        <input id="city" readonly value="@Model.City" />
                    </div>
                    <div class="field-col sm">
                        <label>State</label>
                        <input id="state" readonly value="@Model.State" />
                    </div>
                    <div class="field-col sm">
                        <label>Zip</label>
                        <input id="zip" readonly value="@Model.Zip" />
                    </div>
                </div>

                <div class="field">
                    <label>Special Instructions:</label>
                    <textarea readonly>@Model.SpecialInstructions</textarea>
                </div>

                <div class="field">
                    <a class="link" href="javascript:void(0)" @onclick="ViewActivities">View Activities</a>
                </div>
            </div>

            <!-- Right column -->
            <div class="col col-right">
                <div class="field">
                    <label>PO Date:</label>
                    <input readonly value="@Model.PoDate.ToString("MM/dd/yyyy")" />
                </div>

                <div class="field">
                    <label>Sales Order #:</label>
                    <input readonly value="@Model.SalesOrderNumber" />
                </div>

                <div class="field">
                    <label>PO Status:</label>
                    <input readonly value="@Model.PoStatus" />
                </div>

                <div class="field">
                    <label>Default Ship Method:</label>
                    <input readonly value="@Model.DefaultShipMethod" />
                </div>

                <div class="field">
                    <label>Premium Ship Method:</label>
                    <input readonly value="@Model.PremiumShipMethod" />
                </div>

                <div class="field check">
                    <label>Rally Pricing:</label>
                    <input type="checkbox" checked="@Model.RallyPricing" disabled />
                </div>

                <div class="field">
                    <label>No Paperwork:</label>
                    <input readonly value="@BoolText(Model.NoPaperwork)" />
                </div>

                <div class="field">
                    <label>Lift Gate Req:</label>
                    <input readonly value="@BoolText(Model.LiftGateRequired)" />
                </div>

                <div class="field">
                    <label>Total Cost:</label>
                    <input readonly value="@Model.TotalCost.ToString("C")" />
                </div>

                <div class="field">
                    <label>Open Cost:</label>
                    <input readonly value="@Model.OpenCost.ToString("C")" />
                </div>

                <div class="field">
                    <label>Comments:</label>
                    <input readonly value="@Model.Comments" />
                </div>

                <div class="field">
                    <label>Release BKO's:</label>
                    <input readonly value="@BoolText(Model.ReleaseBackorders)" />
                </div>

                <div class="field">
                    <label>BKO Unfilled:</label>
                    <input readonly value="@BoolText(Model.BackorderUnfilled)" />
                </div>
            </div>
        </div>

        <!-- Lines Grid -->
        <div style="margin-top: 2rem;">
            <TelerikGrid Data="@Model.Lines"
                         SelectionMode="@GridSelectionMode.Multiple"
                         @bind-SelectedItems="@SelectedLines"
                         Pageable="true"
                         PageSize="20"
                         Sortable="true"
                         FilterMode="@GridFilterMode.FilterRow"
                         Resizable="true"
                         Reorderable="true"
                         Groupable="true"
                         ShowColumnMenu="true">
                <GridToolBarTemplate>
                    <GridCommandButton Command="ExcelExport" Icon="@SvgIcon.FileExcel">Export to Excel</GridCommandButton>
                    <GridSearchBox />
                    <span style="margin-left: auto; font-weight: bold;">
                        Total Lines: @Model.Lines.Count | Selected: @SelectedLines.Count()
                    </span>
                </GridToolBarTemplate>
                <GridExport>
                    <GridExcelExport FileName="purchase-order-lines" AllPages="true" />
                    <GridCsvExport FileName="purchase-order-lines" AllPages="true" />
                </GridExport>
                <GridColumns>
                    <GridCheckboxColumn SelectAll="true" Width="60px" Locked="true" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Item)" Title="Line Item" Width="140px" Locked="true" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Description)" Title="Description" Width="300px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Comment)" Title="Comment" Width="200px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Ordered)" Title="Ord" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Ordered);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Received)" Title="Rcv" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Received);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Open)" Title="Open" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Open);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.DefCbx)" Title="DEF/CBX" Width="100px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Transit)" Title="Transit" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Transit);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.SalesOrderLine)" Title="SO Line" Width="100px" TextAlign="@ColumnTextAlign.Right" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.UnitCost)" Title="Unit Cost" Width="120px" TextAlign="@ColumnTextAlign.Right" DisplayFormat="{0:C}">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                @line.UnitCost.ToString("C")
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.TotalCost)" Title="Total Cost" Width="130px" TextAlign="@ColumnTextAlign.Right">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                @line.TotalCost.ToString("C")
                            }
                        </Template>
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.TotalCost);
                                <strong>@total.ToString("C")</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.RallyUnit)" Title="Rally Unit" Width="110px" TextAlign="@ColumnTextAlign.Right" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.RallyExt)" Title="Rally Ext" Width="110px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.RallyExt);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Status)" Title="Status" Width="120px">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                var statusClass = line.Status.ToLower() switch
                                {
                                    "open" => "badge badge-success",
                                    "closed" => "badge badge-secondary",
                                    "cancelled" => "badge badge-danger",
                                    _ => "badge badge-info"
                                };
                                <span class="@statusClass">@line.Status</span>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.CancelFlag)" Title="Cancel" Width="90px" TextAlign="@ColumnTextAlign.Right" />
                </GridColumns>
                <GridSettings>
                    <GridPagerSettings InputType="PagerInputType.Input"
                                       PageSizes="@(new List<int?> { 10, 20, 50, 100, null })" />
                </GridSettings>
            </TelerikGrid>
        </div>

        <!-- Footer actions -->
        <footer class="rop-footer" style="margin-top: 1rem;">
            <button class="btn" @onclick="PrintPo">Print</button>
            <button class="btn" @onclick="CreateNewPo">Create New</button>
            <button class="btn warn" @onclick="CancelSelectedLines" disabled="@(!SelectedLines.Any())">
                Cancel PO Line(s) @(SelectedLines.Any() ? $"({SelectedLines.Count()})" : "")
            </button>
            <button class="btn danger" @onclick="CancelPo">Cancel PO</button>
        </footer>
    </section>
</div>

@code {
    // ============================================================
    // 1) Page contract & URL bindings
    // ============================================================
    protected override string BasePath => "/po-transfer/purchase-orders";

    // URL-bound (singletons)
    private string Status = "Closed";      // default from your original page
    private string? SelectedPo;            // "PO-200996 - 07/29/2025"
    private string? DealerId;

    // Grid selection
    private IEnumerable<PurchaseOrderLine> SelectedLines { get; set; } = new List<PurchaseOrderLine>();

    // Scalars -> URL map
    protected override IReadOnlyDictionary<string, string?> Scalars =>
       new Dictionary<string, string?>(StringComparer.OrdinalIgnoreCase)
       {
           ["dealer"] = DealerId,
           ["option"] = "Purchase Orders",
           ["status"] = Status,
           ["po"] = SelectedPo
       };

    protected override IReadOnlyCollection<string> MultiValues => Array.Empty<string>(); // none

    // Parse URL -> state, then load model
    protected override void ReadFromUrl()
    {
        var map = QueryStringMap.Read(Nav);

        // dealer
        DealerId = map.TryGetValue("dealer", out var d) && !string.IsNullOrWhiteSpace(d) ? d : null;

        // status
        Status = map.TryGetValue("status", out var s) && !string.IsNullOrWhiteSpace(s) ? s! : "Closed";

        var poParam = map.TryGetValue("po", out var p) ? p : null;

        if (AllPos.Count == 0)
            SeedPoList();

        var filtered = FilteredPos;

        if (!string.IsNullOrWhiteSpace(poParam) && filtered.Any(x => x.Display.Equals(poParam, StringComparison.OrdinalIgnoreCase)))
            SelectedPo = poParam;
        else
            SelectedPo = filtered.FirstOrDefault()?.Display;

        LoadPoDetail(SelectedPo);
    }

    // ============================================================
    // 2) Sidebar facets
    // ============================================================
    protected override IEnumerable<Facet> Facets()
    {
        // Option facet (cross-page) – wrap Hrefs with AppendPreserved
        yield return new Facet(
            Key: "option",
            Title: "Option",
            Options: () => new[]
            {
                new FacetOption("Items On Order",     "Items On Order",     Href: AppendPreserved("/po-transfer/items-on-order?status=All")),
                new FacetOption("Purchase Orders",    "Purchase Orders",    Href: AppendPreserved("/po-transfer/purchase-orders")),
                new FacetOption("Receipt of Product", "Receipt of Product", Href: AppendPreserved("/po-transfer/receipt-of-product?status=All"))
            }
        );

        yield return new Facet(
            Key: "status",
            Title: "Status",
            Options: () => new[]
            {
                new FacetOption("All","All",                                   Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("All")}")),
                new FacetOption("Pending","Pending",                           Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Pending")}")),
                new FacetOption("In Process","In Process",                     Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("In Process")}")),
                new FacetOption("Issued – UnAcknowledged","Issued – UnAcknowledged", Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Issued – UnAcknowledged")}")),
                new FacetOption("Open – Acknowledged","Open – Acknowledged",   Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Open – Acknowledged")}")),
                new FacetOption("Closed","Closed",                             Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Closed")}")),
                new FacetOption("Cancelled","Cancelled",                       Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString("Cancelled")}"))
            }
        );

        // PO facet – preserve current status and dealer
        yield return new Facet(
            Key: "po",
            Title: "PO",
            Options: () => FilteredPos.Select(p =>
                new FacetOption(
                    Text: p.Display,
                    Value: p.Display,
                    Href: AppendPreserved($"{BasePath}?status={Uri.EscapeDataString(Status)}&po={Uri.EscapeDataString(p.Display)}")
                ))
        );
    }

    protected override void OnSidebarClick(SidebarItem item)
    {
        if (!string.IsNullOrWhiteSpace(item.Url))
            Nav.NavigateTo(AppendPreserved(item.Url));
    }

    // ============================================================
    // 3) Lifecycle
    // ============================================================
    protected override void OnInitialized()
    {
        SeedPoList();
        base.OnInitialized(); // wires Nav/Sidebar and builds sections
    }

    // ============================================================
    // 4) Page state & computed lists
    // ============================================================
    private sealed record PoSummary(string Number, DateTime Date, string Status)
    {
        public string Display => $"{Number} - {Date:MM/dd/yyyy}";
    }

    private List<PoSummary> AllPos = new();

    private List<PoSummary> FilteredPos =>
        (string.Equals(Status, "All", StringComparison.OrdinalIgnoreCase)
            ? AllPos
            : AllPos.Where(p => string.Equals(p.Status, Status, StringComparison.OrdinalIgnoreCase)))
        .OrderByDescending(p => p.Date)
        .ToList();

    // Page model (mock)
    private PurchaseOrder Model { get; set; } = new();

    // ============================================================
    // 5) Data seeding & loading
    // ============================================================
    private void SeedPoList()
    {
        AllPos = new()
        {
            new PoSummary("PO-200996",      new DateTime(2025, 07, 29), "Closed"),
            new PoSummary("PO-200995",      new DateTime(2025, 07, 24), "Open – Acknowledged"),
            new PoSummary("PO-200994",      new DateTime(2025, 07, 22), "Pending"),
            new PoSummary("PO-000010929",   new DateTime(2025, 07, 09), "Closed"),
        };
    }

    private void LoadPoDetail(string? poDisplay)
    {
        if (string.IsNullOrWhiteSpace(poDisplay))
        {
            Model = new();
            return;
        }

        var parts = poDisplay.Split(" - ");
        var poNum = parts.ElementAtOrDefault(0) ?? "PO-000000";
        var date = DateTime.TryParse(parts.ElementAtOrDefault(1), out var d) ? d : DateTime.Today;

        // Mock data – replace with real service call
        Model = new PurchaseOrder
        {
            PoNumber = poNum.Replace(" ", ""),
            PoDate = date,
            VendorName = "Cornwell Quality Tools",
            ShipToName = "TODARO, MEL J.",
            Attention = "1405 Hightower Dr",
            Address1 = "",
            Address2 = "",
            City = "Uniontown",
            State = "OH",
            Zip = "44685",
            SpecialInstructions = "",
            SalesOrderNumber = "0003285168",
            PoStatus = Status,
            DefaultShipMethod = "UPS",
            PremiumShipMethod = "—",
            RallyPricing = false,
            NoPaperwork = true,
            LiftGateRequired = false,
            Comments = "Purchase Order Added via CQT",
            ReleaseBackorders = false,
            BackorderUnfilled = false,
            Lines = new List<PurchaseOrderLine>
            {
                new()
                {
                    Item = "THCE5401",
                    Description = "Articulating Borescope, 5\" 6mm Cam",
                    Comment = "Added - CQT",
                    Ordered = 1, Received = 1, Open = 0,
                    DefCbx = "None", Transit = 0, SalesOrderLine = 0,
                    UnitCost = 299.99m, TotalCost = 299.99m,
                    RallyUnit = 0, RallyExt = 0, Status = "Closed", CancelFlag = 0
                },
                new()
                {
                    Item = "PFNPSB8",
                    Description = "Sovereign True Wriss Bluetooth Earplugs",
                    Comment = "Added - CQT",
                    Ordered = 1, Received = 1, Open = 0,
                    DefCbx = "None", Transit = 0, SalesOrderLine = 0,
                    UnitCost = 89.99m, TotalCost = 89.99m,
                    RallyUnit = 0, RallyExt = 0, Status = "Closed", CancelFlag = 0
                },
                new()
                {
                    Item = "WT5500",
                    Description = "5-Piece Wrench Set",
                    Comment = "Pending Shipment",
                    Ordered = 2, Received = 0, Open = 2,
                    DefCbx = "DEF", Transit = 2, SalesOrderLine = 5,
                    UnitCost = 45.50m, TotalCost = 91.00m,
                    RallyUnit = 0, RallyExt = 0, Status = "Open", CancelFlag = 0
                }
            }
        };

        Model.TotalCost = Model.Lines.Sum(l => l.TotalCost);
        Model.OpenCost = Model.Lines.Where(l => l.Open > 0).Sum(l => l.TotalCost);

        // Clear selection when loading new PO
        SelectedLines = new List<PurchaseOrderLine>();
    }

    // ============================================================
    // 6) Actions
    // ============================================================
    private Task PrintPo() => JS.InvokeVoidAsync("console.log", "Print PO").AsTask();
    private Task CreateNewPo() => JS.InvokeVoidAsync("console.log", "Create New PO").AsTask();

    private async Task CancelSelectedLines()
    {
        if (!SelectedLines.Any()) return;

        var items = string.Join(", ", SelectedLines.Select(l => l.Item));
        await JS.InvokeVoidAsync("console.log", $"Cancel Lines: {items}");

        // TODO: Call actual service to cancel lines
        // After successful cancellation, refresh the data
        // LoadPoDetail(SelectedPo);
    }

    private Task CancelPo() => JS.InvokeVoidAsync("console.log", "Cancel PO").AsTask();
    private Task ViewActivities() => JS.InvokeVoidAsync("console.log", "View Activities").AsTask();

    // ============================================================
    // 7) Helpers
    // ============================================================
    private static string BoolText(bool v) => v ? "Yes" : "No";

    // ============================================================
    // 8) Simple models for this page
    // ============================================================
    private sealed class PurchaseOrder
    {
        public string PoNumber { get; set; } = "";
        public DateTime PoDate { get; set; } = DateTime.Today;
        public string VendorName { get; set; } = "";
        public string ShipToName { get; set; } = "";
        public string Attention { get; set; } = "";
        public string Address1 { get; set; } = "";
        public string Address2 { get; set; } = "";
        public string City { get; set; } = "";
        public string State { get; set; } = "";
        public string Zip { get; set; } = "";
        public string SpecialInstructions { get; set; } = "";

        public string SalesOrderNumber { get; set; } = "";
        public string PoStatus { get; set; } = "";
        public string DefaultShipMethod { get; set; } = "";
        public string PremiumShipMethod { get; set; } = "";
        public bool RallyPricing { get; set; }
        public bool NoPaperwork { get; set; }
        public bool LiftGateRequired { get; set; }
        public decimal TotalCost { get; set; }
        public decimal OpenCost { get; set; }
        public string Comments { get; set; } = "";
        public bool ReleaseBackorders { get; set; }
        public bool BackorderUnfilled { get; set; }

        public List<PurchaseOrderLine> Lines { get; set; } = new();
    }

    private sealed class PurchaseOrderLine
    {
        public string Item { get; set; } = "";
        public string Description { get; set; } = "";
        public string Comment { get; set; } = "";
        public int Ordered { get; set; }
        public int Received { get; set; }
        public int Open { get; set; }
        public string DefCbx { get; set; } = "None";
        public int Transit { get; set; }
        public int SalesOrderLine { get; set; }
        public decimal UnitCost { get; set; }
        public decimal TotalCost { get; set; }
        public int RallyUnit { get; set; }
        public int RallyExt { get; set; }
        public string Status { get; set; } = "";
        public int CancelFlag { get; set; }
    }
}

<style>
    .badge {
        display: inline-block;
        padding: 0.25em 0.6em;
        font-size: 0.875em;
        font-weight: 600;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
    }

    .badge-success {
        background-color: #28a745;
    }

    .badge-secondary {
        background-color: #6c757d;
    }

    .badge-danger {
        background-color: #dc3545;
    }

    .badge-info {
        background-color: #17a2b8;
    }

    .badge-warning {
        background-color: #ffc107;
        color: #212529;
    }

    .btn.warn {
        background-color: #ffc107;
        color: #212529;
    }

    .btn.danger {
        background-color: #dc3545;
        color: #fff;
    }

    .btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
</style>