@page "/po-transfer/purchase-orders"

@using Microsoft.AspNetCore.WebUtilities
@using Prototype.Components.Layout.Navigation.Sidebar
@using Prototype.Components.Pages.POXfer.PO
@using Prototype.Components.Pages.Product.Webcat
@using Prototype.Components.Services
@using Prototype.Components.SharedComponents.Sidepanel
@using Prototype.Pages.POTransfer
@using Telerik.Blazor
@using Telerik.Blazor.Components
@using static Prototype.Components.Pages.POXfer.PO.PurchaseOrdersSeedData
@using static Prototype.Pages.POTransfer.PurchaseOrdersParameters

@inherits PageWithSidebarBase
@inject SidePanelService SidePanelService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div class="wrap po-page-wrapper">
    <header class="header">
        <h3 class="title">
            Purchase Order Detail
            <button class="detail-toggle-btn @(IsDetailCollapsed ? "collapsed" : "")"
                    @onclick="ToggleDetailSection">
                <svg class="toggle-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 6L8 10L12 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="toggle-text">@(IsDetailCollapsed ? "Show" : "Hide") Details</span>
            </button>
        </h3>

    </header>


    <section class="card rop-detail @(IsDetailCollapsed ? "collapsed" : "")">
        <div class="rop-detail-grid">
            <!-- Left column -->
            <div class="col col-left">
                <div class="field">
                    <label>PO#:</label>
                    <input readonly value="@Model.PoNumber" />
                </div>

                <div class="field">
                    <label>Vendor:</label>
                    <input readonly value="@Model.VendorName" />
                </div>

                <div class="field">
                    <label>Ship To Name:</label>
                    <input readonly value="@Model.ShipToName" />
                </div>

                <div class="field">
                    <label>Attention/Address:</label>
                    <input readonly value="@Model.Attention" />
                </div>

                <div class="field">
                    <label>Address 1:</label>
                    <input readonly value="@Model.Address1" />
                </div>

                <div class="field">
                    <label>Address 2:</label>
                    <input readonly value="@Model.Address2" />
                </div>

                <div class="field-row">
                    <div class="field-col sm">
                        <label>City</label>
                        <input id="city" readonly value="@Model.City" />
                    </div>
                    <div class="field-col sm">
                        <label>State</label>
                        <input id="state" readonly value="@Model.State" />
                    </div>
                    <div class="field-col sm">
                        <label>Zip</label>
                        <input id="zip" readonly value="@Model.Zip" />
                    </div>
                </div>

                <div class="field">
                    <label>Special Instructions:</label>
                    <textarea readonly>@Model.SpecialInstructions</textarea>
                </div>

                <div class="field">
                    <a class="link" href="javascript:void(0)" @onclick="ViewActivities">View Activities</a>
                </div>
            </div>

            <!-- Right column -->
            <div class="col col-right">
                <div class="field">
                    <label>PO Date:</label>
                    <input readonly value="@Model.PoDate.ToString("MM/dd/yyyy")" />
                </div>

                <div class="field">
                    <label>Sales Order #:</label>
                    <input readonly value="@Model.SalesOrderNumber" />
                </div>

                <div class="field">
                    <label>PO Status:</label>
                    <input readonly value="@Model.PoStatus" />
                </div>

                <div class="field">
                    <label>Default Ship Method:</label>
                    <input readonly value="@Model.DefaultShipMethod" />
                </div>

                <div class="field">
                    <label>Premium Ship Method:</label>
                    <input readonly value="@Model.PremiumShipMethod" />
                </div>

                <div class="field check">
                    <label>Rally Pricing:</label>
                    <input type="checkbox" checked="@Model.RallyPricing" disabled />
                </div>

                <div class="field">
                    <label>No Paperwork:</label>
                    <input readonly value="@BoolText(Model.NoPaperwork)" />
                </div>

                <div class="field">
                    <label>Lift Gate Req:</label>
                    <input readonly value="@BoolText(Model.LiftGateRequired)" />
                </div>

                <div class="field">
                    <label>Total Cost:</label>
                    <input readonly value="@Model.TotalCost.ToString("C")" />
                </div>

                <div class="field">
                    <label>Open Cost:</label>
                    <input readonly value="@Model.OpenCost.ToString("C")" />
                </div>

                <div class="field">
                    <label>Comments:</label>
                    <input readonly value="@Model.Comments" />
                </div>

                <div class="field">
                    <label>Release BKO's:</label>
                    <input readonly value="@BoolText(Model.ReleaseBackorders)" />
                </div>

                <div class="field">
                    <label>BKO Unfilled:</label>
                    <input readonly value="@BoolText(Model.BackorderUnfilled)" />
                </div>
            </div>
        </div>
    </section>

    <!-- Lines Grid Section - Separate from collapsible detail -->
    <section class="card grid-section">
        <div class="grid-container">
            <TelerikGrid Data="@Model.Lines"
                         SelectionMode="@GridSelectionMode.Multiple"
                         @bind-SelectedItems="@SelectedLinesCollection"
                         Pageable="true"
                         PageSize="20"
                         Sortable="true"
                         FilterMode="@GridFilterMode.FilterRow"
                         Resizable="true"
                         Reorderable="true"
                         Groupable="true"
                         ShowColumnMenu="true">
                <GridToolBarTemplate>
                    <GridCommandButton Command="ExcelExport" Icon="@SvgIcon.FileExcel">Export to Excel</GridCommandButton>
                    <GridSearchBox />
                    <span style="margin-left: auto; font-weight: bold;">
                        Total Lines: @Model.Lines.Count | Selected: @Params.SelectedLines.Count
                    </span>
                </GridToolBarTemplate>
                <GridExport>
                    <GridExcelExport FileName="purchase-order-lines" AllPages="true" />
                    <GridCsvExport FileName="purchase-order-lines" AllPages="true" />
                </GridExport>
                <GridColumns>
                    <GridCheckboxColumn SelectAll="true" Width="60px" Locked="true" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Item)" Title="Item" Width="140px" Locked="true">
                        <Template>
                            @{
                                var row = (PurchaseOrderLine)context;
                                <button class="link-button" @onclick="() => HandleItemClick(row.Item)" @onclick:stopPropagation="true">
                                    @row.Item
                                </button>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Description)" Title="Description" Width="300px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Comment)" Title="Comment" Width="200px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Ordered)" Title="Ord" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Ordered);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Received)" Title="Rcv" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Received);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Open)" Title="Open" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Open);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.DefCbx)" Title="DEF/CBX" Width="100px" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.Transit)" Title="Transit" Width="90px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.Transit);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.SalesOrderLine)" Title="SO Line" Width="100px" TextAlign="@ColumnTextAlign.Right" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.UnitCost)" Title="Unit Cost" Width="120px" TextAlign="@ColumnTextAlign.Right" DisplayFormat="{0:C}">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                @line.UnitCost.ToString("C")
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.TotalCost)" Title="Total Cost" Width="130px" TextAlign="@ColumnTextAlign.Right">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                @line.TotalCost.ToString("C")
                            }
                        </Template>
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.TotalCost);
                                <strong>@total.ToString("C")</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.RallyUnit)" Title="Rally Unit" Width="110px" TextAlign="@ColumnTextAlign.Right" />
                    <GridColumn Field="@nameof(PurchaseOrderLine.RallyExt)" Title="Rally Ext" Width="110px" TextAlign="@ColumnTextAlign.Right">
                        <FooterTemplate>
                            @{
                                var total = Model.Lines.Sum(x => x.RallyExt);
                                <strong>@total</strong>
                            }
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.Status)" Title="Status" Width="120px">
                        <Template>
                            @{
                                var line = (PurchaseOrderLine)context;
                                var statusClass = line.Status.ToLower() switch
                                {
                                    "open" => "badge badge-success",
                                    "closed" => "badge badge-secondary",
                                    "cancelled" => "badge badge-danger",
                                    _ => "badge badge-info"
                                };
                                <span class="@statusClass">@line.Status</span>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field="@nameof(PurchaseOrderLine.CancelFlag)" Title="Cancel" Width="90px" TextAlign="@ColumnTextAlign.Right" />
                </GridColumns>
                <GridSettings>
                    <GridPagerSettings InputType="PagerInputType.Input"
                                       PageSizes="@(new List<int?> { 10, 20, 50, 100, null })" />
                </GridSettings>
            </TelerikGrid>
        </div>

        <!-- Footer actions - Always visible at bottom -->
        <footer class="grid-footer">
            <button class="btn" @onclick="PrintPo">Print</button>
            <button class="btn" @onclick="CreateNewPo">Create New</button>
            <button class="btn warn" @onclick="CancelSelectedLines" disabled="@(!Params.SelectedLines.Any())">
                Cancel PO Line(s) @(Params.SelectedLines.Any() ? $"({Params.SelectedLines.Count})" : "")
            </button>
            <button class="btn danger" @onclick="CancelPo">Cancel PO</button>
        </footer>
    </section>
</div>

<!-- Side Panel for Item Preview -->
<SidePanel IsOpen="@SidePanelService.IsOpen"
           IsOpenChanged="@((value) => { if (!value) SidePanelService.Close(); })"
           Title="@GetSidePanelTitle()"
           NavigateUrl="@GetWebcatUrl()"
           OnNavigate="@NavigateToWebcat">
    <WebcatItemPreviewPanel ItemNumber="@SidePanelService.CurrentItemNumber"
                            Item="@SidePanelService.CurrentItem"
                            ErrorMessage="@SidePanelService.ErrorMessage" />
</SidePanel>

@code {
    // Centralized parameters
    private PurchaseOrdersParameters Params = new();

    // Detail section collapse state
    private bool IsDetailCollapsed = false;

    private void ToggleDetailSection()
    {
        IsDetailCollapsed = !IsDetailCollapsed;
    }

    // ============================================================
    // Page contract & URL bindings
    // ============================================================
    protected override string BasePath => "/po-transfer/purchase-orders";

    protected override IReadOnlyDictionary<string, string?> Scalars => Params.ToScalars();

    protected override IReadOnlyCollection<string> MultiValues => Params.SelectedLines;

    // Parse URL -> state, then load model
    protected override void ReadFromUrl()
    {
        // Read raw values from URL
        var rawParams = PurchaseOrdersParameters.FromUrl(Url);

        // Read raw scalars
        var rawScalars = new Dictionary<string, string?>(StringComparer.OrdinalIgnoreCase)
        {
            ["option"] = "Purchase Orders",
            ["dealer"] = rawParams.Dealer,
            ["status"] = PurchaseOrdersParameters.StatusToString(rawParams.Status)
        };

        // Validate dependencies for facet-level filters only
        var validated = ValidateFacetDependencies(rawScalars);

        // Rebuild from validated scalars, preserving PO and lines
        Params = PurchaseOrdersParameters.FromScalars(validated, rawParams.SelectedLines);
        Params.PoNumber = rawParams.PoNumber; // Restore PO number after validation

        // Initialize data if needed
        if (AllPos.Count == 0)
            AllPos.AddRange(PurchaseOrdersSeedData.GetPoSummaries());

        // Get filtered list based on validated status
        var filtered = FilteredPos;

        // Select PO based on URL parameter or default to first
        var urlPo = rawParams.PoNumber;
        if (!string.IsNullOrWhiteSpace(urlPo) &&
            filtered.Any(x => x.Number.Equals(urlPo, StringComparison.OrdinalIgnoreCase)))
        {
            Params.PoNumber = urlPo;
        }
        else
        {
            Params.PoNumber = filtered.FirstOrDefault()?.Number;
        }

        LoadPoDetail(Params.PoNumber);

        // Restore grid selection
        _selectedLinesCollection = Model.Lines.Where(l => Params.SelectedLines.Contains(l.Item)).ToList();

        // Ensure URL reflects current selection
        if (Params.PoNumber != urlPo)
        {
            NavigateWithPageState(replace: true);
        }
    }

    protected override IEnumerable<Facet> Facets()
    {
        yield return new Facet(
            Key: "option",
            Title: "Option",
            Options: () => new[]
            {
                new FacetOption("Items On Order", "Items On Order",
                    Href: AppendPreserved(Url.BuildHref("/po-transfer/items-on-order",
                        new Dictionary<string, string?> { ["status"] = "All" }))),

                new FacetOption("Purchase Orders", "Purchase Orders",
                    Href: AppendPreserved(Url.BuildHref("/po-transfer/purchase-orders",
                        new Dictionary<string, string?> { ["status"] = "All" }))),

                new FacetOption("Receipt of Product", "Receipt of Product",
                    Href: AppendPreserved(Url.BuildHref("/po-transfer/receipt-of-product",
                        new Dictionary<string, string?> { ["status"] = "All" })))
            }
        );

        yield return new Facet(
            Key: "status",
            Title: "Status",
            DependsOn: "option",
            IsValidForParent: (parentVal) => string.Equals(parentVal, "Purchase Orders", StringComparison.OrdinalIgnoreCase),
            Options: () => new[]
            {
                new FacetOption("All", "All"),
                new FacetOption("Pending", "Pending"),
                new FacetOption("In Process", "In Process"),
                new FacetOption("Issued – UnAcknowledged", "Issued – UnAcknowledged"),
                new FacetOption("Open – Acknowledged", "Open – Acknowledged"),
                new FacetOption("Closed", "Closed"),
                new FacetOption("Cancelled", "Cancelled")
            }
        );

        yield return new Facet(
            Key: "po",
            Title: "PO",
            DependsOn: "status",
            IsValidForParent: (parentVal) => !string.IsNullOrEmpty(parentVal),
            Options: () => FilteredPos.Select(p =>
                new FacetOption(
                    Text: p.Display,
                    Value: p.Number
                ))
        );
    }

    // ============================================================
    // Lifecycle
    // ============================================================
    protected override void OnInitialized()
    {
        AllPos.AddRange(PurchaseOrdersSeedData.GetPoSummaries());
        base.OnInitialized();
    }

    // ============================================================
    // Page state & computed lists
    // ============================================================
    private List<PoSummary> AllPos = new();

    private List<PoSummary> FilteredPos
    {
        get
        {
            var statusString = PurchaseOrdersParameters.StatusToString(Params.Status);
            return (string.Equals(statusString, "All", StringComparison.OrdinalIgnoreCase)
                ? AllPos
                : AllPos.Where(p => string.Equals(p.Status, statusString, StringComparison.OrdinalIgnoreCase)))
                .OrderByDescending(p => p.Date)
                .ToList();
        }
    }

    private PurchaseOrder Model { get; set; } = new();

    // Grid selection tracking
    private IEnumerable<PurchaseOrderLine> _selectedLinesCollection = new List<PurchaseOrderLine>();
    private IEnumerable<PurchaseOrderLine> SelectedLinesCollection
    {
        get => _selectedLinesCollection;
        set
        {
            _selectedLinesCollection = value;
            SyncSelectedLines();
        }
    }

    // ============================================================
    // Data loading
    // ============================================================
    private void LoadPoDetail(string? poNumber)
    {
        if (string.IsNullOrWhiteSpace(poNumber))
        {
            Model = new();
            return;
        }

        // Load PO detail from seed data
        var statusString = PurchaseOrdersParameters.StatusToString(Params.Status);
        Model = PurchaseOrdersSeedData.GetPoDetail(poNumber, statusString);

        // Only clear selection if not restoring from URL
        if (!Params.SelectedLines.Any())
        {
            _selectedLinesCollection = new List<PurchaseOrderLine>();
        }
    }

    // ============================================================
    // Selection sync
    // ============================================================
    private void SyncSelectedLines()
    {
        var newItems = _selectedLinesCollection.Select(l => l.Item).ToHashSet(StringComparer.OrdinalIgnoreCase);
        var changed = !Params.SelectedLines.ToHashSet(StringComparer.OrdinalIgnoreCase).SetEquals(newItems);

        if (changed)
        {
            Params.SelectedLines.Clear();
            Params.SelectedLines.AddRange(newItems);

            NavigateWithPageState();
        }
    }

    // ============================================================
    // Actions
    // ============================================================
    private Task PrintPo() => JS.InvokeVoidAsync("console.log", "Print PO").AsTask();
    private Task CreateNewPo() => JS.InvokeVoidAsync("console.log", "Create New PO").AsTask();

    private async Task CancelSelectedLines()
    {
        if (!Params.SelectedLines.Any()) return;

        var items = string.Join(", ", Params.SelectedLines);
        await JS.InvokeVoidAsync("console.log", $"Cancel Lines: {items}");

        // TODO: Call actual service to cancel lines
        // After successful cancellation, refresh the data
        // LoadPoDetail(Params.PoNumber);
    }

    private Task CancelPo() => JS.InvokeVoidAsync("console.log", "Cancel PO").AsTask();
    private Task ViewActivities() => JS.InvokeVoidAsync("console.log", "View Activities").AsTask();

    // ============================================================
    // Helpers
    // ============================================================
    private static string BoolText(bool v) => v ? "Yes" : "No";

    // ============================================================
    // Side Panel Helpers
    // ============================================================
    private void HandleItemClick(string item)
    {
        // Open side panel instead of just selecting
        SidePanelService.OpenItemPreview(item);
    }

    private string GetSidePanelTitle()
    {
        if (SidePanelService.CurrentItem != null)
        {
            return $"Item Details - {SidePanelService.CurrentItemNumber}";
        }
        return "Item Details";
    }

    private string? GetWebcatUrl()
    {
        if (string.IsNullOrEmpty(SidePanelService.CurrentItemNumber))
        {
            return null;
        }
        return $"/product/webcat?item={Uri.EscapeDataString(SidePanelService.CurrentItemNumber)}";
    }

    private void NavigateToWebcat()
    {
        var url = GetWebcatUrl();
        if (!string.IsNullOrEmpty(url))
        {
            NavigationManager.NavigateTo(url);
        }
    }
}
